/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

/* :root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-black-color: #2F303A;
    --background-light-color: #F5F4FA;
    --border-color: #EEEEEE;
    --icon-fill-color: #AFB1B8;

    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.17;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  display: block;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
} */

/* .logo {
  display: block;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
} */

/* .header {
  border-bottom: 1px solid #ececec;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
} */

/* .header__logo {
  margin-right: 97px;
}
.logo__header {
  color: #000000;
} */

/* .nav {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  gap: 62px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  cursor: pointer;

  transition: color var(--animation);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
  position: relative;
}

.nav__link--current::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;

  content: "";
  background-color: var(--accent-color);

  border-radius: 2px;
}

.header__contacts {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.header__contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  cursor: pointer;

  transition: color var(--animation);
}

.header__contact-link:hover,
.header__contact-link:focus {
  color: var(--accent-color);
}

.header__contact-icon {
  margin-right: 10px;
  fill: currentColor;
} */

/**
  |============================
  | Hero
  |============================
*/
/* .hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--background-black-color);
  color: #ffffff;
  text-align: center;

  max-width: 1600px;
  height: 636px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.svg);

  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
} */

/* .btn {
  min-width: 200px;
  padding: 10px 19px;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  text-align: center;

  background-color: var(--accent-color);
  color: #ffffff;
} */

/* Modal window*/

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.1);

  opacity: 1;
  transition: opacity var(--animation);
  perspective: 1000px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;

  padding: 40px;

  background-color: #ffffff;
  color: var(--primary-text-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) rotateX(0deg);
  transition: opacity 500ms linear, transform var(--animation),
    visibility var(--animation);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotateX(30deg);
  opacity: 0;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: transparent;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-close-btn svg {
  transition: fill var(--animation);
}
.modal-close-btn:hover svg {
  fill: var(--accent-color);
} */

/* .register-form-title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
} */

/* .form-input {
  display: block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;

  transform: border-color var(--animation);
}

.form-label {
  position: relative;
  display: block;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
}

.form-label.comment-box {
  display: block;
  margin-bottom: 20px;
}

.comment-input {
  padding: 12px 16px;
  resize: none;
}

.label-name {
  display: block;
  margin-bottom: 4px;
}

.input-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;

  fill: var(--title-text-color);

  transform: fill var(--animation);
}

.form-input:focus-within {
  outline: none;
  border-color: var(--accent-color);
}
.form-label:focus-within > .input-icon {
  fill: var(--accent-color);
} */

/* .form-input::placeholder {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  appearance: none;
  position: absolute;
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.checkbox:checked ~ .icon-check {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.agreement-box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}
.agreement-text {
  display: block;
  width: 400px;
  height: 24px;
  overflow: visible;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.terms {
  color: var(--accent-color);
  text-decoration: underline;
}

.send-button {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
} */

/**
  |============================
  | Features
  |============================
*/
/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  text-align: center;
} */

/* .features {
  padding-top: 53px;
}

.features__item {
  width: 270px;
}

.features__icon {
  background-color: var(--background-light-color);
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features__img {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
} */

/**
  |============================
  | Samples
  |============================
*/
/* .samples {
  padding-top: 0;
}

.samples__item {
  position: relative;
  z-index: 1;
}
.samples__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
} */

/**
  |============================
  | Our Team
  |============================
*/
/* .team {
  background-color: #f5f4fa;
}
.team__card {
  background-color: #ffffff;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__card:not(:last-child) {
  margin-right: 30px;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;

  line-height: 1.19;
  text-align: center;
}
.team__mate {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;

  color: var(--title-text-color);
}
.team__position {
  font-size: 16px;
  margin-bottom: 16px;
} */

/* .socials {
  display: flex;
  gap: 10px;
}

.team__socials {
  justify-content: center;
}

.socials__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  transition: fill var(--animation), background-color var(--animation);
}

.socials__link--grey {
  fill: #afb1b8;
}

.socials__link:hover,
.socials__link:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

.socials__icon {
  width: 20px;
  height: 20px;
} */

/**
  |============================
  | Customers
  |============================
*/
/* .customer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon-fill-color);
  fill: var(--icon-fill-color);

  transition: fill var(--animation), border-color var(--animation);
}

.customer:hover,
.customer:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
}

.customer__icon {
  width: 100px;
  height: 60px;
} */

/**
  |============================
  | Footer
  |============================
*/
/* .footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-black-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
}

.logo__footer {
  color: #ffffff;
}

.footer__address {
  width: 237px;
  margin-bottom: 9px;

  font-style: normal;
  color: #ffffff;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 3px;
}

.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__socials {
  margin-left: 70px;
}

.socials__link--white {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);
}

/*Footer-subscribe-block*/

/* .subscribe {
  margin-left: 93px;
}

.subscribe__form {
  position: relative;
  display: flex;
  gap: 12px;
}

.subscribe__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input {
  display: block;

  width: 358px;
  padding: 15px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  transform: transform var(--animation);
}

.subscribe__btn {
  display: flex;
  align-items: center;

  padding-left: 43px;
  padding-right: 28px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscribe__icon {
  margin-left: 30px;
}

.subscribe__input:focus + .subscribe__label,
.subscribe__input:not(:placeholder-shown) + .subscribe__label {
  transform: translateY(-50px);
}  */

/**
  |============================
  | Portfolio
  |============================
*/

/* .filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter__button {
  padding: 6px 26px;
  min-width: 73px;

  font-family: inherit;
  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  color: var(--title-text-color);
  background-color: var(--background-light-color);

  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);
}

.filter__button:hover,
.filter__button:focus {
  color: #ffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
} */
/* 
.project-box {
  width: 370px;
}
.project-box:not(:nth-child(3n)) {
  margin-right: 30px;
}
.project-box:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-link {
  transition: box-shadow var(--animation);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.box-description {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.project-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-category {
  line-height: 1.88;
}
.project-link {
  display: block;
  color: var(--primary-text-color);
}
.project-image {
  position: relative;
  overflow: hidden;
} */
/* Overlay */
/* .overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform var(--animation), opacity var(--animation);

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.5;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;

  opacity: 0;
}

.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  transform: translateY(0);
  opacity: 1;
} */
