.logo {
  display: block;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
}

.logo__header {
  color: #000000;
}

.footer__logo {
  margin-bottom: 7px;

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  // @media screen and (max-width: 1199px) {
  //   margin-right: auto;
  //   margin-left: auto;
  // }
}

.logo__footer {
  color: #ffffff;
}
