html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

// Adaptive image
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.flex-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.section__title {
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-size: 28px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
