:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-black-color: #2F303A;
    --background-light-color: #F5F4FA;
    --border-color: #EEEEEE;
    --icon-fill-color: #AFB1B8;

    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}