.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-black-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}

.footer__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: baseline;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 53px;
  }
}

.footer__contacts-block {
  margin-right: auto;
  margin-left: auto;
}

.footer__address {
  width: 239px;
  margin-bottom: 9px;

  font-style: normal;
  color: #ffffff;

  @media screen and (max-width: 1199px) {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__contacts-list {
  @media screen and (max-width: 1199px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
.footer__contacts-item {
  text-align: center;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 3px;
}

.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer__title {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.footer__socials-block {
  margin-bottom: 60px;

  // margin-right: auto;
  // margin-left: auto;
  @media screen and (min-width: 768px) {
    margin-left: 165px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__socials {
  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}
.socials__link--white {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);
}

/*Footer-subscribe-block*/

.subscribe {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.subscribe__form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 12px;
  }
}

.subscribe__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input {
  display: block;

  width: 100%;
  padding: 15px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  transform: transform var(--animation);

  @media screen and (max-width: 1199px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.subscribe__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 200px;

  padding-left: 43px;
  padding-right: 28px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subscribe__icon {
  margin-left: 30px;
}

.subscribe__input:focus + .subscribe__label,
.subscribe__input:not(:placeholder-shown) + .subscribe__label {
  transform: translateY(-50px);
}
